.footer {
  /* min-height: 50vh; */
  background-color: #093285;
  background: url(/morsk-bg-min.jpg);
  background-position: center;
  background-size: cover;
}

.footer p {
  padding: 1rem;
  font-size: 1.25rem;
  font-family: "Century Gothic";
  text-align: center;
  color: #093285;
}
.footer a {
  color: #093285;
}
.icons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: fit-content;
  margin: auto;
}
.fa-brands {
  font-size: 2rem;
  color: #093285;
}
