.introduction {
  min-height: 100vh;
  color: #d1d1cf;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-family: "Century Gothic";
  background-color: #093d85;
  padding: 3rem;
}
.introduction h1 {
  font-size: 5rem;
}
.introduction h3 {
  font-size: 2rem;
}
.introduction button {
  background-color: #d1d1cf;
  color: #093d85;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  font-family: "Century Gothic";
  transition: 0.5s;
}
.introduction button:hover {
  background-color: #093d85;
  color: #d1d1cf;
  border: 2.5px solid;
}

@media only screen and (max-width: 1000px) {
  .introduction {
    padding: 0.25em;
    gap: 1.25rem;
    justify-content: center;
  }
  .introduction h1 {
    font-size: 3.5rem;
  }

  .introduction h3 {
    font-size: 2rem;
  }
  .introduction button {
    font-size: 1.5rem;
  }
}
