.hamburger-menu {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .hire-us {
    display: none;
  }
  .hamburger-menu {
    display: block;
    height: 2rem;
    display: flex;
  }
  svg {
    height: 3rem;
  }

  .hamburger-menu button {
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: #093d85ce;
    background: none;
    border: none;
  }
  .hamburger-menu button:hover {
    border: none;
  }
  .nav-links {
    display: none;
  }
  .mobile-links {
    position: fixed;
    width: 99vw;
    top: 10vh;
    left: 0;
    padding-right: 5rem;
    background-color: #d1d1cf;
  }
  .mobile-links li {
    width: 100vw;
    margin: 1rem 0;
    list-style: none;
    padding: 0.25rem;
    box-shadow: 0px 1px #093d85ce;
  }
  .mobile-links a {
    color: #093d85;
    text-decoration: none;
  }
}
