.morsk-flex-container {
  background-color: #d1d1cf;
  display: flex;
  position: fixed;
  left: 10vw;
  right: 10vw;
  top: 5rem;
  border-radius: 0 0 1.5rem 1.5rem;
  justify-content: center;
  gap: 1rem;
  place-items: center;
  min-height: 75vh;
  max-width: 80vw;
  flex-direction: column;
  color: #093d85;
  background: url(/morsk-bg-min.jpg);
  background-position: center;
  background-size: cover;
}
.morsk-header {
  margin: -1vh 0 2rem;
  font-family: inter;
}
.morsk-cards-container {
  display: flex;
  width: 95%;
  justify-content: space-between;
  gap: 1rem;
  margin-top: -2rem;
}
.morsk-card {
  width: 35rem;
  padding: 0.25rem;
  transition: 0.25s;
  background-color: #d1d1cf;
  background-color: #093285;
  padding: 0.5rem;
  color: #093d85;
  color: #d1d1cf;
  font-size: 1rem;
}
.morsk-card:hover {
  background-color: #d1d1cf;
  color: #093285;
  line-height: 1.5rem;
  padding: 0.5rem;
  width: 50rem;
  border: 3px solid #093285;
}
.morsk-card p {
  text-align: justify;
  margin-top: 0.5rem;
}
