.projects {
  border: 1px solid white;
  color: #d1d1df;
  text-align: center;
  font-family: "karla";
}
.flyers-container,
.social-media-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}
.flyers-container img,
.social-media-container img {
  width: 20rem;
  border: 2px solid #d1d1df;
  border-radius: 1rem;
}

.logos {
  border: 1px solid;
}
.logos img {
  width: 20rem;
}
.brand-designs {
  border: 1px solid;
}
.brand-designs img {
  width: 20rem;
}

.websites {
  border: 2px solid grey;
}
.websites img {
  width: 20rem;
}
.websites-container {
  border: 5px solid red;
  padding: 7.5px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}
.website {
  width: 35rem;
  height: 20rem;
  border: 2px solid #d1d1df;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
