.projects {
  border: 1px solid white;
  color: #d1d1df;
  text-align: center;
  font-family: "Century Gothic";
  padding: 1rem;
}
.projects h1 {
  font-family: "Century Gothic";
  font-size: 2.25rem;
  letter-spacing: 3px;
}

.projects p {
  font-family: "century gothic";
  font-size: 1.5rem;
  letter-spacing: 2px;
}
.flyers-container,
.social-media-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: center;
}
.flyers-container img,
.social-media-container img {
  width: 20rem;
  border: 2px solid #d1d1df;
  border-radius: 1rem;
}

.logos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
}
.logos img {
  width: 10rem;
  border: 1px solid #d1d1df;
}
.brand-designs {
  border: 1px solid;
}
.brand-designs img {
  width: 20rem;
}

.websites {
  border: 2px solid grey;
}
.websites img {
  width: 20rem;
}
.websites-container {
  border: 1px solid white;
  padding: 7.5px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}
.website {
  width: 35rem;
  height: 20rem;
  border: 2px solid #d1d1df;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
