*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Century Gothic;
}
body{
	background-color: #1a1a1a;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #D1D1CF;
	color:black;
	position: sticky;
	top: 0;
	padding: 10px;
	box-shadow: 10px #000;
}
ul {
	display: flex;
	justify-content: space-between;
}
ul li{
	list-style-type: none;
	padding: 0.5rem;
}
ul li a{
	color: #1A1A1A;
	text-decoration: none;
}
ul li a:hover{
	color: #1A1A1A;
	text-decoration: none;
	font-weight: 700;
	text-decoration: underline;
	text-underline-offset: 0.5rem;
}
nav button{
	width: 6rem;
	height: 2.5rem;
	background-color: #1a1a1a;
	border: none;
	border-radius: 0.5rem;
	font-family: century gothic;
	font-size: 1.15rem;
	font-weight: bold;
	color: #D1D1CF;
}

/* main components */
.introduction{
	min-height: 90vh;
	color: #D1D1CF;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}
.intro-flex{
	border: 2px solid green;
}
.introduction h1{
	font-size: 5rem;
}
.introduction h3{
	font-size: 2rem;
}
.introduction h4{
	background-color: #D1D1CF;
	color: #1A1A1A;
	padding:  0.5rem  1rem;
	border-radius: 1rem;
	font-size: 1.5rem;
}
